
2. Provided the following scenarios, use the tools at your disposal, look for resources online and provide your answer in a few sentences/provide a sample of working code in the index.html file:

<!-- a. You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<input maxlength="enter_number">

sources: 
https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field#:~:text=To%20set%20the%20maximum%20character,use%20minlength%20attribute.

https://www.w3schools.com/tags/att_input_maxlength.asp

<!-- b. You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">

Sources:
https://www.w3schools.com/tags/att_img_alt.asp

https://www.freecodecamp.org/news/what-is-alt-text-image-alt-text-html-example/

<!-- c. You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<pre>
	&lt;html&gt;
</pre>

Sources:
https://www.campuslife.co.in/Html/how-to-show-coding-in-html.php#:~:text=tag%20is%20use,coding%20on%20our%20HTML%20webpage.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre

<!-- d. Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

<marquee behavior="slide" direction="left">
	<img src="/pix/samples/bats_013.gif" width="125" height="82" alt="Flying Bat">
</marquee>

Sources:
https://www.quackit.com/html/codes/scrolling_images.cfm#:~:text=The%20scrolling%20images%20were%20acheived,recognized%20by%20most%20modern%20browsers).

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee