/*

MARGIN AND PADDING

Margin - best used when creating space between elements

Padding - best used when creating space between elements border and its content

*/

body{
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border: 1px solid gray;
}

nav .nav, nav .nav-logo{
	margin: 0.5 rem;
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: darkcyan;
	font-size: 1.5rem;
	border-radius: 1rem;
	padding: 8px;
	border: 0;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#succeed-info .card{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	padding: 1rem;
	background-color: #002540;
	color: white;
}


#pre-footer .pf{
	width: 20%;
	display: inline-block;
	vertical-align: bottom;
	margin-top: .3rem;
	margin-bottom: .3rem;
}

footer{
	padding:1%;
}

footer span{
	margin-right: 1rem;
}

