/*CSS Syntax*/

body{
	background-color: lightcoral;
}

section{
	height:80vh;
	text-align: center;
}

#top:hover{
	background-color: white;
}

a:hover{
	background-color: red;
}

ol{
	list-style-type: none;
}

div{
	display:inline-block;
	float:right;
}

/*Type Selector - targets element with the specified type/tag name*/
h1{
	/*Declaration block*/

	color: yellow;
	text-align: center;
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
}

/* (*) - Universal Selector (lowest priority), targets all elements*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority) - */
#zuitt-motto{
	letter-spacing: 5px;
}

h3{
	letter-spacing: 10px !important; /* !important - override */
}

/*Class Selector - targets element according to its class attribute*/
.offering-item{
	text-transform: uppercase;
}

/*Attribute Selector - targets element*/
input[required]{
	border-width: 5px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

form{
	text-align: center;
	background-color: white;
	border:6px solid black;
	width: 40vw;
	position: relative;
	left: 280%;
}

button{
	background-color: lightblue;
	color: white;
	border: 0;
	border-radius: 2px;
}

/*adjacent sibling selector*/
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector (Whitespace) - targets any element that is a descendant of another element*/
/*selector selector*/
#bootcamp-learning-list li{
	color: #008080;
}


/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/
/*selector ~ selector*/
h2 ~ a, a{
	text-decoration: none;
}

/*Child Selector (>) - targets all elements that are the children of a specified element */
/*selector > selector*/
body > section > form > label{
	color: rgb(250, 0, 250);
}









/* !important - overrides every priority*/


/*Specificity Rule*/
/*The following order prioritizes styles from highest to lowest priority (according to selector)
1. ID Selector - #
2. Class Selector = .
3. Attribute Selector - tag[attribute name]
4. Type Selector - tag
5. Universal Selector - *
*/


/*Specificity Rule*/
/*The following order prioritizes styles from highest to lowest priority (according to selector)
1. Inline Styling
2. Internal Styling
3. External Styling
*/

/*CSS Combinators*/
/*Adjacent Sibling Selector (+) - targets the element immediately following another element, which must be its sibling and is located right after the HTML Structure*/
/*selector + selector*/