*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	position: sticky;
	top: 0px;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 2em;
	padding-bottom: 1px;
	text-align: center;
	background-color: white;
}

.title{
	font-family: 'Open Sans', sans-serif;
}

.title-2{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-bottom: 3rem;
}

.nav-logo{
	 display: inline;
	 margin-right: 20%;
	 vertical-align: top;
}

.right-nav{
	display: inline;
}

.logo{
	display: inline;
}

.nav{
	font-weight: bold;
	display: inline;
	vertical-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.tuitt-button{
	vertical-align: center;
	color: white;
	background-color: #c2195b;
	border-style: none;
	border-radius: 20px;
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size: 100%;
	min-height: 35vh;
	margin-right: 4rem;
	margin-left: 4rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.container{
	color: white;
	text-align: right;
	margin-left: 40%;
	padding-left: 1em;
	padding-right: 8em;
}

.container .title{
	font-size: 38px;
	z-index:1;
	padding-bottom: 10px;
}

.apply-button{
	vertical-align: center;
	color: white;
	background-color: #c2195b;
	border-style: none;
	border-radius: 20px;
	padding-right: 4em;
	padding-left: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left:1em;
	margin-top: 1em;
	margin-bottom: 3em;
}

.front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 35vh;
	
}

.intro{
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 5rem;
	padding-bottom: 3rem;
}



.pre-footer{
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 5rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #f7fbfb;
}

.book-button{
	color: white;
	background-color: #336589;
	border-style: none;
	border-radius: 20px;
	padding-right: 3.5em;
	padding-left: 3.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
}

footer{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 3rem;
	text-align: center;
}

span{
	margin-right: 1rem;
}
