*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1{
	font-size: 40px;		
}

#uppercase{
	text-transform: uppercase;
}

.list{
	background-color: green;
}

#external{
	color:green;
}

li[tools]{
	border-style: solid;
	border-color: blue;
}

section + ul{
	list-style-type: none;
}

section img{
	width: 200px;
	border-radius: 150px;
}

section ~ p{
	text-align: center;
}

body > ul > li{
	letter-spacing: 10px;
}